body{
    background-image: url("./img/poster.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#tank{
    position: relative;
    top: 0px;
    left: 0px;
    width: 19px;
    height: 19px;
    transform: rotate(0deg);
}
#boom{
    position: relative;
    width: 19px;
    height: 19px;
}
.setStyle{
    border: 1px solid black;
    width: 190px;
    height: 190px;
    background-color: rgb(19, 19, 19);
}
.buttons{
    position: relative;
    top: 10px;
    left: 35px;
}
#leftButt{
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    background-color:gold;
}
#rightButt{
    position: absolute;
    top: 2.5rem;
    left: 4.5rem;
    background-color:gold;
}
#upButt{
    position: absolute;
    top: 1rem;
    left: 3rem;
    background-color:gold;
}
#downButt{
    position: absolute;
    top: 4rem;
    left: 3rem;
    background-color:gold;
}
#leftButt:hover{
    background-color:rgb(189, 165, 30);
}
#rightButt:hover{
    background-color: rgb(189, 165, 30);
}
#upButt:hover{
    background-color: rgb(189, 165, 30);
}
#downButt:hover{
    background-color: rgb(189, 165, 30);
}